<div class="modal-content">
  <%= form_for @song, url: {action: :update} do |f| %>
      <div class="modal-header">
        <h4 class="modal-title">Edit Song</h4>
      </div>
      <div class="modal-body">   
        <p>
          <%= "<div class=\"alert alert-danger\">#{@song.errors.full_messages.first}</div>".html_safe if @song.errors.any? %>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label">Album</label>
              <%= f.collection_select :album_id, Album.order(:title), :id, :title, {}, { class: "form-control" } %>
            </div>
          </div>
       </div>
         
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label">Title</label>
              <%= f.text_field :title, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label">Length</label>
              <%= f.text_field :length, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label">Lyrics</label>
              <%= f.text_area :lyrics, class: "form-control" %>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <%= link_to 'Back', { controller: 'songs', action: 'index'}, class: 'btn btn-default', style: 'border-radius: 0px;'%>
        <%= f.submit 'Edit Song', class: "btn btn-primary" , style: 'border-radius: 0px;'%>
      </div>
  <% end %>
</div>
