  
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">albums</h4>
  </div>
  <%= form_tag(albums_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
  <div class="modal-body">
    <p>
      <div class="btn-group">
        <%= link_to 'Add album', new_album_path, class: 'btn btn-success'%>
      </div>
    </p>
    <table id="albums" class="display" cellspacing="0" width="100%">
      <tr>
        <th>Title</th>
        <th>Premiere </th>
        <th>Band name </th>
      </tr>
    <tr>
  <% for album in @albums %>
              <td><%= album.title %></td>
              <td><%= album.premiere_date %></td>      
              <td><%= album.band.name %></td>                  
          <td>
              <div class="btn-group">
                <%= link_to 'Edit', edit_album_path(album), class: 'btn btn-success' %>
                <%= link_to 'Show',album_path(album), class: 'btn btn-primary' %>
                <%= link_to 'Delete', album_path(album), method: :delete, class: 'btn btn-danger',  data:{ confirm: 'Are you sure?'} %>
              </div>
          </td>
      </tr>
  <% end %>
</table>
  </div>
</div>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @albums %>
  </div>
  <%= will_paginate @albums, :container => false %>
</div>

