<!DOCTYPE html>
<html>
  <head>
    <title>Crud</title>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <body style="background-image: url(http://voky.com.ua/showcase/sky-forms/examples/img/bg-red.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
          <% end %>
          <%= render "layouts/header" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js' %>
    </body>
    </html>
